@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
}
body{
    font-family: 'Inter', sans-serif;
}
/* header style */
header{
    padding: 50px 0;
}
header .container{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}
header .banner{
    /* background-image: url('../resources/Banner-Image.png'); */
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner-Image.png');
    background-size: cover;
    
}
header .banner .banner-text{
    width: 632px;
    margin: 0 auto;
    text-align: center;
}
header .banner .banner-text h5{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
header .banner .banner-text h2{
    color: #fff;
    font-size: 72px;
    font-weight: 900;
}